
<div>
  <ax-lov></ax-lov>
</div>


<ax-form-group size="md">
  <ax-label>Search Input</ax-label>
  <ax-search-box></ax-search-box>
</ax-form-group>

<ax-form-group size="xxs">
  <ax-label>XXS Size</ax-label>
  <ax-text-box></ax-text-box>
</ax-form-group>

<ax-form-group size="xs">
  <ax-label>XS Size</ax-label>
  <ax-text-box></ax-text-box>
</ax-form-group>
<ax-form-group size="sm">
  <ax-label>SM Size</ax-label>
  <ax-text-box></ax-text-box>
</ax-form-group>
<ax-form-group size="md">
  <ax-label>MD Size</ax-label>
  <ax-text-box></ax-text-box>
</ax-form-group>
<ax-form-group size="lg">
  <ax-label>LG Size</ax-label>
  <ax-text-box></ax-text-box>
</ax-form-group>
<ax-form-group size="xl">
  <ax-label>XL Size</ax-label>
  <ax-text-box></ax-text-box>
</ax-form-group>
<ax-form-group size="xxl">
  <ax-label>XXL Size</ax-label>
  <ax-text-box></ax-text-box>
</ax-form-group>

<ax-form-group size="md">
  <ax-label>Disabled</ax-label>
  <ax-text-box disabled="true"></ax-text-box>
</ax-form-group>

<ax-form-group size="md">
  <ax-label>Readonly</ax-label>
  <ax-text-box readonly="true" value='Readonly Field'></ax-text-box>
</ax-form-group>

<ax-form-group size="md">
  <ax-label>Input With Buttons</ax-label>
  <ax-button icon="fas fa-check" start>Start</ax-button>
  <ax-text-box [disabled]="true"></ax-text-box>
  <ax-button icon="fas fa-check" [disabled]="true">End</ax-button>
</ax-form-group>



<ax-form-group size="md">
  <ax-label>Search</ax-label>
  <ax-search-box></ax-search-box>
</ax-form-group>

