<label>
  grid
</label>
<div style="height: 400px;">
  <ax-data-grid #grid [selectionMode]="'multiple'" [remoteOperation]="true" [autoGroupColumnDef]="autoGroupColumnDef"
    isServerSideGroup="true" (getServerSideGroupKey)="getServerSideGroupKey($event)">

    <ax-toolbar>
      <ax-toolbar-menu [items]="toolbarItemsEnd">
      </ax-toolbar-menu>
      <div></div>
      <ax-toolbar-search></ax-toolbar-search>
    </ax-toolbar>

    <ax-data-source [provideData]="provideData">
    </ax-data-source>

    <ax-selection-column></ax-selection-column>
    <ax-text-column field="jobTitle" caption="jobTitle" [width]="120"></ax-text-column>
    <ax-text-column field="employmentType" caption="employmentType" [width]="90">
    </ax-text-column>
    <ax-command-column [items]="commandItems" (itemClick)="onCommandItemClick($event)">
    </ax-command-column>
  </ax-data-grid>
</div>

<label>
  Tree
</label>

<div style="height: 400px;">
  <ax-data-grid #grid [selectionMode]="'multiple'" [keyField]="'employmentType'" [hasChildField]="'hasChild'"
    [remoteOperation]="true" [autoGroupColumnDef]="autoGroupColumnDef" isServerSideGroup="true"
    (getServerSideGroupKey)="getServerSideGroupKey($event)">
    <ax-data-source [provideData]="provideData">
    </ax-data-source>
    <ax-selection-column></ax-selection-column>
    <ax-text-column field="jobTitle" caption="jobTitle" [width]="120"></ax-text-column>
    <ax-text-column field="employmentType" caption="employmentType" [width]="90">
    </ax-text-column>
    <ax-command-column [items]="commandItems" (itemClick)="onCommandItemClick($event)">
    </ax-command-column>
  </ax-data-grid>
</div>


<label>
  group By
</label>

<div style="height: 400px;">
  <ax-data-grid #grid [selectionMode]="'multiple'" [remoteOperation]="true" [autoGroupColumnDef]="autoGroupColumnDef"
    isServerSideGroup="true" (getServerSideGroupKey)="getServerSideGroupKey($event)">
    <ax-data-source [provideData]="provideData">
    </ax-data-source>
    <ax-selection-column></ax-selection-column>
    <ax-text-column rowGroupIndex=1 field="jobTitle" caption="jobTitle" [width]="120"></ax-text-column>
    <ax-text-column field="employmentType" caption="employmentType" [width]="90">
    </ax-text-column>
    <ax-command-column [items]="commandItems" (itemClick)="onCommandItemClick($event)">
    </ax-command-column>
  </ax-data-grid>
</div>

<!-- 
 </ng-template>
    </ax-dock-content>
</ax-dock-panel>  -->