
<h1>Jalali Calendar</h1>
<ax-calendar-box size="md" (valueChange)="handleValueChange($event)" type="jalali"></ax-calendar-box>

<h1>Gregorian Calendar</h1>
<ax-calendar-box size="md" (valueChange)="handleValueChange($event)"></ax-calendar-box>

<h1>Calendar Sizes</h1>
<ax-calendar-box size="xxs" (valueChange)="handleValueChange($event)" type="jalali"></ax-calendar-box>
<ax-calendar-box size="xs" (valueChange)="handleValueChange($event)" type="jalali"></ax-calendar-box>
<ax-calendar-box size="sm" (valueChange)="handleValueChange($event)" type="jalali"></ax-calendar-box>
<ax-calendar-box size="md" (valueChange)="handleValueChange($event)" type="jalali"></ax-calendar-box>
<ax-calendar-box size="lg" (valueChange)="handleValueChange($event)" type="jalali"></ax-calendar-box>
<ax-calendar-box size="xl" (valueChange)="handleValueChange($event)" type="jalali"></ax-calendar-box>
<ax-calendar-box size="xxl" (valueChange)="handleValueChange($event)" type="jalali"></ax-calendar-box>

<p>Selected Data: {{date}}</p>