.acorex-container {
  width: 1024px;
  margin: 20px auto;
  > img {
    width: 200px;
    margin: auto;
    display: block;
  }
  > ul {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    > li {
      border-bottom: 1px solid #ccc;
      line-height: 40px;
      padding: 0 10px;
      cursor: pointer;
      &:hover{
          border-bottom: 1px solid #ff0000;
          transition: 0.3s;
          color: #ff0000;
      }
    }
  }
}
