.ax {
  &.list-container {
    .list-group {
      .group-header {
        font-weight: bold;
      }
    }
    .list-item {
      padding: 0.6em 0.7em;
      cursor: pointer;
      margin-bottom: 0.1em;
      &:nth-child(odd) {
        background-color: var(--ax-gray-trans-dark-color);
      }
      &:last-child {
        margin-bottom: 0 !important;
      }
      &.selected {
        background: var(--ax-primary-light-color) !important;
        color: var(--ax-primary-fore-color) !important;
      }
    }
  }
}
